<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:dist="http://schemas.android.com/apk/distribution"
          xmlns:tools="http://schemas.android.com/tools"
          package="spartons.com.prosmssenderapp"
          android:targetSandboxVersion="1"
          tools:ignore="UnusedAttribute">

    <dist:module dist:instant="true"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
            android:allowBackup="true"
            android:name=".backend.MyCustomApplication"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:usesCleartextTraffic="true"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
            android:theme="@style/AppTheme">

        <activity android:name="spartons.com.prosmssenderapp.activities.main.ui.MainActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
                android:name="io.fabric.ApiKey"
                android:value="941d4bd0ce2a36db71f901ced64eb3cc40ca588a" />

        <activity android:name=".activities.sendBulkSms.ui.SendBulkSmsActivity"
                  android:screenOrientation="portrait"
                  android:windowSoftInputMode="stateHidden"/>

    </application>

</manifest>